.home-button-group {
    display: flex;
    flex-direction: row;
    transform: translateY(2px);
    margin-left: 20px;
}

.home-button-group button.active-tab {
    background-color: var(--accent-bg);
    border: 1px solid var(--accent-border);
    border-bottom: 1px solid var(--accent-bg);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 0 4px var(--accent-border);
    position: relative;
    z-index: 3;
    transform: translateY(4px);
}

.title {
    flex-grow: 1;
    margin-right: 3%;
}

.right-button {
    margin-right: 20px;
}